
<form action="/tweets" method="GET">
<div class="input-group mb-3"> <input type="text" class="form-control" placeholder="Find your fistros de la pradera's message" name="user" value="{{user}}">
     <div class="input-group-append"><button class="btn btn-primary" type="submit" ><i class="fas fa-search"></i></button></div>
</div>
 </form>